<html>

<head>
    <link rel="stylesheet" href="https://unpkg.com/@universis/theme@1.0.5/css/universis.css"
        integrity="sha384-GcIMWx3Jq0rHFUoV9TxtmxKkYHxwNoaXhDb/sNO7H6s6X34p02LJyfVwnH2B61sl" crossorigin="anonymous">
    <style>
    </style>
</head>

<body>
    <div class="container-fluid">
        <div class="text-right mb-2">
            <img style="height: 64px" src="https://students.universis.io/assets/img/universis_logo_128_color.png"
                alt="Universis Project Logo">
        </div>
        <h3>You have a new message from UniverSIS regarding your registration application.</h3>
        <div class="card">
            <div class="card-body">
                <p>
                     <%=model.body%>
                </p>
            </div>
        </div>
    </div>
</body>

</html>